<!-- 
Bind
BindEffect
Description
Descriptors
Essence
Link
Name
ShortDescription
Slot -->

<div class="card">
  <p-table
    #dt
    [value]="veils"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="headers"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          pButton
          label="Clear"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="clear(dt)"
        ></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search keyword"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let header of headers">
          <div class="flex align-items-center">
            {{ header }}
            <p-columnFilter
              type="text"
              [field]="header"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-veil>
      <tr>
        <td>
          {{ veil.Name }}
        </td>
        <td>
          {{ veil.Descriptors }}
        </td>
        <td>
          {{ veil.Slot }}
        </td>
        <td>
          {{ veil.Description }}
        </td>
        <td>
          {{ veil.Essence }}
        </td>
        <td>
          {{ veil.Bind }}
        </td>
        <td>
          <a [href]="veil.Link" target="_blank"> {{ veil.Name }}</a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
